In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math
from ast import literal_eval

In [2]:
#download airport data for mapping
path1 = r"\\vntscex.local\dfs\PublicLands\NACTTI\Research\Tables\Railpassengers Station Ridership 2012-2018.txt"
Amtrak = pd.read_csv(path1)

In [3]:
Amtrak_2018=Amtrak.loc[Amtrak['Year']==2018]

In [4]:
Amtrak_2018.head(3)

,Unnamed: 0,Year,Ridership,city,report type,url,row_num,type,station
6,6,2018,37867.0,Aberdeen,"['\n Aberdeen, MD (ABE)\n ...",https://www.railpassengers.org//site/assets/fi...,50,stations,"Aberdeen, MD (ABE)"
13,13,2018,30780.0,Albany,"['\n Albany, OR (ALY)\n ...",https://www.railpassengers.org//site/assets/fi...,51,stations,"Albany, OR (ALY)"
20,20,2018,790.5,Albany-Rensselaer,"['\n Albany-Rensselaer, NY ...",https://www.railpassengers.org//site/assets/fi...,52,stations,"Albany-Rensselaer, NY (ALB)"

In [13]:
station_name_list=[]
for x in Amtrak_2018["station"]:
    y=x[:-10]
    y=y.replace("-","/")
    station_name_list.append(y)

In [14]:
Amtrak_2018["station"]=station_name_list

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
Amtrak_2018.to_csv("2018_Amtrak.csv")

In [ ]:
#download airport data for mapping
path2 = r"\\vntscex.local\dfs\PublicLands\NACTTI\Research\Tables\Amtrak Stations.csv"
stations = pd.read_csv(path2)

In [ ]:
station_names=[]
cleaning_phrases = ["- Amtrak Station", "- Amtrak",")"]
for x in stations["STNNAME"]:
    y=x.find(",")
    new_names = x[:y]
    new_names1=new_names.replace("(","- ").replace(")","").replace("- Amtrak","").replace("- Amtrak Station","")
    station_names.append(new_names1)

In [ ]:
stations["station"]=stations["STNNAME"]
stations.head()

In [ ]:
stations["station_name"]=station_names

In [ ]:
stations.to_csv("stations2.csv")

In [ ]:
Amtrak_full = Amtrak_2018.merge(stations, on="station", how="left")
Amtrak_full.head()